{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}
<content>
  {{ .Content }}
</content>

{{ if eq .Type "blog" }}{{ if (.Param "enablePostNavigator")}}
{{- partial "post_navigator.html" . -}}
{{ end }}{{ end }}

<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>

{{ if eq .Type "blog" }}
<style>
  #cusdis_thread .PoweredBy,
  #cusdis_thread [data-field="email"] { display: none !important; }
</style>
<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="51504f4c-94cd-490b-b853-f0497a8a4044"
  data-page-id="{{ .Permalink }}"
  data-page-url="{{ .Permalink }}"
  data-page-title="{{ .Title }}"
  data-lang="ru"
></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
{{ end }}
{{ end }}
